.pro{
    background-color: blue;
    color: white;
    font-family: serif;
    height: 620px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    font-size: x-large;

}
.bro{
    text-align: center;
    
}
.lex{
    background-color: green;
    padding: 30px;
    text-align: center;
}